{:source-paths ["src/main"]
 :dependencies [[reagent/reagent "1.2.0"]
                [re-frame/re-frame "1.4.3"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn gomoku.core/init}}
                :devtools {:http-root "public"
                           :http-port 8080}}}}
